/* адаптация для маленьких телефончиков*/
@media screen and (max-width: 432px) {
    footer *{
        font-size: 1.5vh;
        padding: 0 0.5vh;
        height: 2vh;
    }

    .layout_header nav{
        font-size: 2.1vh;

    }

    .layout_title section.title {
        padding: 20px 20px 20px 20px; /* на мобилках получше */ 
    }
}

@media screen and (max-width: 1064px) {
    .layout_projects section.projects{
        line-height: normal;
    }
}

@media screen and (max-width: 660px) {
    
    .layout_projects section.projects p{
        font-size: 3vh;
    }
    
    .layout_projects section.projects h1{
        font-size: 6vh;
    }

    .layout_projects section.projects .bth p{
        font-size: 2vh;
    }
}