@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background:#263238;
     /* дальше все плохо */
     min-width: 360px;
}

.layout_header {
    position: fixed; 
    top: 0;
    z-index: 120;
    /*  соре, колян */
    width: 100%;
    padding: 13px 0px;
    display: flex;
    background: black;
    box-shadow: 0 0 1px 2px;
}

.layout_header .inner {
    display: inherit;
    flex: 1 1 auto !important; /* не хорошо использовать это */
    flex-wrap: wrap;
    justify-content: center;
}

.layout_header a.logo {
    color: rgb(189, 168, 209);
    font-size: 50px;
    padding: 0rem 1rem;
    display: inherit;
    justify-content: inherit;
    margin-right: auto;
    /* font-family: 'PT Sans'; */
}

.layout_header a.logo img {
    max-block-size: 3vh;
}

.layout_header nav {
    display: inherit;
    align-items: center;
    justify-content: space-around;
    font-size: 2.6vh;
}

.layout_header nav a {
    color: whitesmoke;
    padding: 0 0.7vw;
}
.layout_header nav a:hover {
    background-color: white;
    transition: 0.5s;
    color: black;
}

.layout_title * {
    color: whitesmoke;
}
.layout_title {
    background-image: url(img/optimize.png);
    background-size: cover; 
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.layout_title section.title {
    display: inherit;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 20px 20px 80px; 
}
.layout_title section.title p {
    font-size: 7vh;
    font-family: 'Poiret One', cursive;

}

.layout_title .title_button {
    height: 50px;
    width: 50px;
    margin-top: 50px;
    justify-self: flex-end;
    align-self: center;
   
}

.layout_title section.title .down  {
    background-color: white;
    border-radius: 50%;

}

.layout_title section.title * {
    mix-blend-mode: difference;
    color: #ffffffb8;
}

.layout_about {
    display: flex;
    justify-content: center;
    background-image: url(img/tomek-kaczmarek-1080.jpg);

    background-attachment: fixed; 
    background-size: cover; 
    height: 100vh;
    overflow: hidden;
}

.layout_about section.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* блин хз как лучше*/
    align-self: center;
    padding: 40px 20px; 
    background-color: rgba(245, 245, 245, 0.712)

}

.layout_about section.about h1 {
    color: black;

    font-weight: 600;
    font-size: 5vh;
}

.layout_about section.about p {
    font-size: 2.6vh;
    padding: 1rem 0;
}

.layout_projects {
    display: flex;
    height:100vh;
    background-size: contain; /* вроде даже интересно выглядит есои потереть грань между левой и правой частью*/
    background-image: url(img/white-abstract-wallpaper-1080p-2048x1152.jpg);
    background-size: cover;
}

.layout_projects section.projects{
    display: flex;
    margin: 50px 70px;
}

/* что-то типа того, что я хочу сделать для демонстрации нащих проектов */
/* правда получается не совсем так, потому что я не могу в фигуры */
.layout_projects section.projects {
    font-size: 2.5vh;
}

.layout_projects section.projects .idea{
    height: 40vh;
    width: 30vh; 
    transform: skew(-10deg);
    transition: width 0.5s ease-in;
    background: rgba(56, 56, 56, 0.712);
    padding: 3vh;
    border-radius: 5px;
    border: solid black 1px;
    margin-left: 10px;

}

.layout_projects section.projects .idea:hover {
    width: 50vh;
}

footer * {
    color: grey;
    text-decoration: none;
    font-size: 2vh;
    padding: 0 1vh;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    background-color: black;
}

footer.layout_footer .inner {
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
}

footer.layout_footer .inner a:hover {
    background-color: white;
    transition: 0.5s;
    color: black;
}

/* адаптация для маленьких телефончиков*/
@media screen and (max-width: 432px) {
    footer *{
        font-size: 1.5vh;
        padding: 0 0.5vh;
        height: 2vh;
    }

    .layout_header nav{
        font-size: 2.1vh;

    }

    .layout_title section.title {
        padding: 20px 20px 20px 20px; /* на мобилках получше */ 
    }
}

