@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700&subset=cyrillic');

* {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    margin: 0;
}

body {
    background: black;
}

.layout_header {
    position: fixed; 
    top: 0;
    width: 100%;
    padding: 13px 0px;
    display: flex;
    align-items: center;
    background: black;
}

.layout_header .inner {
    display: flex;
    flex: 1 1 auto !important;
    flex-wrap: wrap;
    justify-content: center;
}

.layout_header a.logo {
    color: rgb(189, 168, 209);
    font-size: 400%;
    padding: 0rem 1rem;
    display: flex;
    margin-right: auto;
    font-family: 'PT Sans';
}

.layout_header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    font-size: 20px;
}

.layout_header nav a {
    color: whitesmoke;
    padding: 10px;
}

.layout_about {
    display: flex;
    justify-content: center;
    background-image: url(img/white-abstract-wallpaper-1080p-2048x1152.jpg);
    height: 800px;
}

.layout_about section.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: whitesmoke;
    opacity: 0.85;
    padding: 20px;
    margin-top: 110px;

}

.layout_about section.about h1 {
    color: black;

    font-weight: 600;
    font-size: 35px;

}

.layout_about section.about p {
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
}

footer * {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2vh;
}

footer.layout_footer .inner {
    display: flex;
    justify-content: space-around;
}